<%= form_with(model: comment, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: comment.errors} %>

  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :text} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :task_id %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:task_id, comment.task ? [[comment.task.identifier, comment.task.id]] : [], {include_blank: true}, {class: "input", "data-search": "tasks"}) %>
    </div>
  </div>

  <%= render partial: "partials/form_upload", locals: {form: form, attr: :data, data: comment.data, preview_size: 300, crop_size: 300, resize: true} %>

  <%= render partial: "partials/form_submit", locals: {form: form, model: comment} %>

<% end %>
