<%= form_with(model: comment, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: comment.errors} %>

  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :text} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :task_id %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:task_id, comment.task ? [[comment.task.title, comment.task.id]] : [], {include_blank: true}, {class: "input", "data-search": "tasks"}) %>
    </div>
  </div>

  <div class="field level">
    <%= form.label :data, class: "level-item-left column is-one-quarter" %>
    <div class="level-item-left column is-three-quaters">
      <% if comment.is_img? %>
        <%= render partial: "partials/icon", locals: {img: comment.data, size: 300} %>
      <% elsif comment.data.attachment %>
        <%=url_for(comment.data)%>
      <% end %>
      <%= form.file_field :data, direct_upload: true %>
    </div>
  </div>

  <%= render partial: "partials/form_submit", locals: {form: form, model: comment} %>

<% end %>
