<div class="level">
  <h1 class="title">Comment</h1>
  <div class="level-item-right">
    <% if @comment.editable_by?(@current_user) %>
      <%= render partial: "partials/link_btn", locals: {href: edit_comment_path(@comment), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
      <%= link_to @comment, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: comments_path, icon: 'caret-left', text: 'Back', css_class: 'is-light'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<div class="level">
  <label class="level-item-left column is-one-quarter">Task</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/task", locals: {task: @comment.task} %>
  </span>
</div>

<div class="level">
  <label class="level-item-left column is-one-quarter">User</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/user", locals: {user: @comment.user} %>
  </span>
</div>

<%= render partial: "partials/show_file", locals: {item: @comment, size: 300} %>

<%= render partial: "partials/show_markdown", locals: {id: dom_id(@comment), title: "Text", value: @comment.text} %>
