<%= form_with(model: task, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: task.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :title} %>
  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :description} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :parent_id %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:parent_id, Task.where("id <> ?", task.id || -1).collect {|task| [task.title, task.id]}, { include_blank: true }, { class: 'input' }) %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :assigned_user_id %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:assigned_user_id, User.all.collect {|user| [user.username, user.id]}, { include_blank: true }, { class: 'input' }) %>
    </div>
  </div>

  <div class="field level">
    <label class="level-item-left column is-one-quarter">Created By</label>
    <span class="level-item-left column is-three-quaters">
      <%= render partial: "partials/user", locals: {user: @task.created_user} %>
    </span>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :status_id %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:status_id, TaskStatus.all.collect {|task_status| [task_status.title, task_status.id]}, { include_blank: true }, { class: 'input' }) %>
    </div>
  </div>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :priority} %>

  <div class="field level">
    <label class="level-item-left column is-one-quarter">Calculated Estimate</label>
    <span class="level-item-left column is-three-quaters">
      <%= @task.calculated_estimate %>
    </span>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :due_date %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.datetime_select :due_date %>
    </div>
  </div>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :estimate} %>

  <%= render partial: "partials/form_submit", locals: {form: form, model: @task} %>

<% end %>
