<div class="level">
  <h1 class="title">Tasks</h1>
  <div>
    <%= render partial: "partials/link_btn", locals: {href: new_task_search_path, icon: 'search', text: 'Search Tasks', css_class: ''} %>
    <% if @current_user %>
      <%= render partial: "partials/link_btn", locals: {href: new_task_path, icon: 'plus', text: 'New Task', css_class: 'is-success'} %>
    <% end %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<div class="level">
  <%= form_with url: tasks_path, local: true, method: :get, class: "level-left" do |form| %>
    <div class="control has-icons-left">
      <%= form.text_field "task_search[query]", :value => params.fetch(:task_search, {})[:query], class: "level-item input", placeholder: "Search" %>
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <%= form.submit "Search", class: "level-item button search-button" %>
    <% unless @task_search.default_search? %>
      <%= render partial: "partials/link_btn", locals: {href: tasks_path, icon: 'times', text: 'Clear Search', css_class: 'level-item button clear-search-button'} %>
    <% end %>
  <% end %>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Assigned User</th>
      <th>Status</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.identifier %></td>
        <td>
          <%= render partial: "partials/user", locals: {user: task.assigned_user} %>
        </td>
        <td>
          <%= render partial: "partials/tag", locals: {tag: task.status} %>
        </td>
        <td>
          <% task.tags.each do |tag| %>
            <%= render partial: "partials/tag", locals: {tag: tag} %>
          <% end %>
        </td>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: task, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <% if task.editable_by?(@current_user) %>
              <%= render partial: "partials/link_btn", locals: {href: edit_task_path(task), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
              <%= link_to task, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
                <span class="icon is-small">
                  <%= icon('fas', 'trash') %>
                </span>
                <span>Destroy</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>
