<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Parent</th>
      <th>Assigned User</th>
      <th>Created by</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Calculated updated at</th>
      <th>Due date</th>
      <th>Estimate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.parent_id %></td>
        <td><%= task.assigned_user_id %></td>
        <td><%= task.created_user_id %></td>
        <td><%= task.status_id %></td>
        <td><%= task.priority %></td>
        <td><%= task.calculated_estimate %></td>
        <td><%= task.due_date %></td>
        <td><%= task.estimate %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
