<div class="level">
  <h1 class="title">Tasks</h1>
  <div>
    <% if @current_user %>
      <%= render partial: "partials/link_btn", locals: {href: new_task_path, icon: 'plus', text: 'New Task', css_class: 'is-success'} %>
    <% end %>
    <%#= render partial: "partials/link_btn", locals: {href: new_task_search_path, icon: 'search', text: 'Search Tasks', css_class: ''} %>
    <%= render partial: "partials/link_btn", locals: {href: tasks_edit_all_path, icon: 'edit', text: 'Bulk Update', css_class: 'is-info'} %>
    <%= render partial: "partials/link_btn", locals: {href: {controller: "tasks", action: "index", format: 'csv'}, icon: 'download', text: 'Export to CSV', css_class: ''} %>
    <%= render partial: "partials/link_btn", locals: {href: {controller: "tasks", action: "index", format: 'json'}, icon: 'download', text: 'Export to JSON', css_class: ''} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice, total_count: @tasks.total_count} %>

<%= render partial: "partials/search_form", locals: {url: tasks_path, field_name: "task_search[query]", value: @task_search.query, total_count: @tasks.total_count, default_search: @task_search.default_search?, search_options_path: new_task_search_path(task_search: @task_search.as_json)} %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Assigned User</th>
      <th>Status</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.identifier %></td>
        <td>
          <%= render partial: "partials/user", locals: {user: task.assigned_user} %>
        </td>
        <td>
          <%= render partial: "partials/tag", locals: {tag: task.status} %>
        </td>
        <td>
          <% task.tags.each do |tag| %>
            <%= render partial: "partials/tag", locals: {tag: tag} %>
          <% end %>
        </td>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: task, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <% if task.editable_by?(@current_user) %>
              <%= render partial: "partials/link_btn", locals: {href: edit_task_path(task), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
              <%= link_to task, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
                <span class="icon is-small">
                  <%= icon('fas', 'trash') %>
                </span>
                <span>Destroy</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>
