<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @task.parent_id %>
</p>

<p>
  <strong>Assigned User:</strong>
  <% if @task.assigned_user %>
    <% if @task.assigned_user.avatar.attachment %>
      <%= image_tag @task.assigned_user.avatar.variant(resize: "50x50") %>
    <% end %>
    <%= @task.assigned_user.username %>
  <% end %>
</p>

<p>
  <strong>Created by:</strong>
  <% if @task.created_user.avatar.attachment %>
    <%= image_tag @task.created_user.avatar.variant(resize: "50x50") %>
  <% end %>
  <%= @task.created_user.username %>
</p>

<p>
  <strong>Status:</strong>
  <% if @task.status %>
    <% if @task.status.icon.attachment %>
      <%= image_tag @task.status.icon.variant(resize: "30x30") %>
    <% end %>
    <%= @task.status.title %>
  <% end %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Calculated estimate:</strong>
  <%= @task.calculated_estimate %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @task.estimate %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
