<p id="notice"><%= notice %></p>

<div class="level">
  <h1 class="title">Task</h1>
  <div class="level-item-right">
    <% if @task.editable_by?(@current_user.id) %>
      <%= render partial: "partials/link_btn", locals: {href: edit_task_path(@task), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
      <%= link_to @task, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: tasks_path, icon: 'caret-left', text: 'Back', css_class: 'is-light'} %>
  </div>
</div>

<%= render partial: "partials/show_text", locals: {title: "Title", value: @task.title} %>
<%= render partial: "partials/show_text", locals: {title: "Description", value: @task.description} %>
<div class="level">
  <label class="level-item-left column is-one-quarter">Parent</label>
  <span class="level-item-left column is-three-quaters">
    <%if @task.parent %>
      <div class="tag"><%= @task.parent.title %></div>
    <% end %>
  </span>
</div>
<div class="level">
  <label class="level-item-left column is-one-quarter">Assigned User</label>
  <span class="level-item-left column is-three-quaters">
    <%= render partial: "partials/user", locals: {user: @task.assigned_user} %>
  </span>
</div>
<div class="level">
  <label class="level-item-left column is-one-quarter">Created By</label>
  <span class="level-item-left column is-three-quaters">
    <%= render partial: "partials/user", locals: {user: @task.created_user} %>
  </span>
</div>
<div class="level">
  <label class="level-item-left column is-one-quarter">Status</label>
  <span class="level-item-left column is-three-quaters">
    <%= render partial: "partials/tag", locals: {tag: @task.status} %>
  </span>
</div>
<%= render partial: "partials/show_text", locals: {title: "Priority", value: @task.priority} %>
<%= render partial: "partials/show_text", locals: {title: "Calculated Estimate", value: @task.calculated_estimate} %>
<%= render partial: "partials/show_text", locals: {title: "Due Date", value: @task.due_date} %>
