<div class="level">
  <h1 class="title">Task</h1>
  <div class="level-item-right">
    <% if @current_user %>
      <%= render partial: "partials/link_btn", locals: {href: new_task_path, icon: 'plus', text: 'New Task', css_class: 'is-success'} %>
    <% end %>
    <% if @task.editable_by?(@current_user) %>
      <%= render partial: "partials/link_btn", locals: {href: edit_task_path(@task), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
      <%= link_to @task, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: tasks_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/show_text", locals: {title: "Title", value: @task.identifier} %>
<%= render partial: "partials/show_markdown", locals: {id: dom_id(@task), title: "Description", value: @task.description} %>

<div class="level">
  <label class="level-item-left column is-one-quarter">Assigned User</label>
  <span class="level-item-left column is-one-quarter">
    <%= render partial: "partials/user", locals: {user: @task.assigned_user} %>
  </span>
  <label class="level-item-left column is-one-quarter">Created By</label>
  <span class="level-item-left column is-one-quarter">
    <%= render partial: "partials/user", locals: {user: @task.created_by_user} %>
  </span>
</div>

<div class="level">
  <label class="level-item-left column is-one-quarter">Status</label>
  <span class="level-item-left column">
    <%= render partial: "partials/tag", locals: {tag: @task.status} %>
  </span>
  <% if @task.parent %>
    <label class="level-item-left column is-one-quarter">Parent</label>
    <span class="level-item-left column is-one-quarter">
      <%= render partial: "partials/task", locals: {task: @task.parent} %>
    </span>
  <% end %>
</div>

<% if @task.tags.present? %>
  <div class="level">
    <label class="level-item-left column is-one-quarter">Tags</label>
    <div class="level-item-left column is-three-quarters flex">
      <% @task.tags.each do |task_tag| %>
        <%= render partial: "partials/tag", locals: {tag: task_tag} %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="field level">
  <label class="level-item-left column is-one-quarter">Access Control</label>
  <div class="level-item-left column is-three-quarters">
    <div class="tag is-medium">
      <%= icon("fas is-size-5	#{@task.viewable? ? "has-text-success" : "has-text-danger"}", @task.viewable? ? "check-circle" : "times-circle") %>
      <span>Viewable</span>
    </div>
    <div class="tag is-medium">
      <%= icon("fas is-size-5	#{@task.editable? ? "has-text-success" : "has-text-danger"}", @task.editable? ? "check-circle" : "times-circle") %>
      <span>Editable</span>
    </div>
    <div class="tag is-medium">
      <%= icon("fas is-size-5	#{@task.commentable? ? "has-text-success" : "has-text-danger"}", @task.commentable? ? "check-circle" : "times-circle") %>
      <span>Commentable</span>
    </div>
    <div class="tag is-medium">
      <%= icon("fas is-size-5	#{@task.public_viewable? ? "has-text-success" : "has-text-danger"}", @task.public_viewable? ? "check-circle" : "times-circle") %>
      <span>Public Viewable</span>
    </div>
  </div>
</div>

<div class="level">
  <label class="level-item-left column is-one-quarter">Priority</label>
  <time class="level-item-left column is-one-quarter"><%= @task.priority %></time>
  <label class="level-item-left column is-one-quarter">Calculated Estimate</label>
  <time class="level-item-left column is-one-quarter"><%= @task.calculated_estimate %></time>
</div>

<% if @task.due_date %>
  <%= render partial: "partials/show_timestamp", locals: {title: "Due Date", value: @task.due_date} %>
<% end %>

<div class="level">
  <label class="level-item-left column is-one-quarter">Created At</label>
  <time class="level-item-left column is-one-quarter timestamp"><%= @task.created_at %></time>
  <label class="level-item-left column is-one-quarter">Updated At</label>
  <time class="level-item-left column is-one-quarter timestamp"><%= @task.updated_at %></time>
</div>

<div class="level">
  <div class="level-item-left column is-one-quarter"></div>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/link_btn", locals: {href: task_links_path(task_id: @task.id), icon: 'link', text: 'Links', css_class: ''} %>
    <%= render partial: "partials/link_btn", locals: {href: attachments_path(task_id: @task.id), icon: 'paperclip', text: 'Attachments', css_class: ''} %>
    <%= render partial: "partials/link_btn", locals: {href: comments_path(task_id: @task.id), icon: 'comments', text: 'Comments', css_class: ''} %>
    <%= render partial: "partials/link_btn", locals: {href: new_task_path(parent_id: @task.id), icon: 'plus', text: 'New Subtask', css_class: 'is-success'} %>
  </span>
</div>
