<%= form_with(model: task_search, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: task_search.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :title} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :query} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :task_tags %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :task_tag_ids, @task_search.task_tags.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "task_tags"} %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :created_user_tags %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :created_user_tag_ids, @task_search.created_user_tags.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "user_tags"} %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :assigned_user_tags %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :assigned_user_tag_ids, @task_search.assigned_user_tags.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "user_tags"} %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :created_users %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :created_user_ids, @task_search.created_users.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "users"} %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :assigned_users %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :assigned_user_ids, @task_search.assigned_users.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "users"} %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :task_statuses %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :task_status_ids, @task_search.task_statuses.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "task_statuses"} %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :sort_order %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select(:sort_order, TaskSearch.sort_orders.map{|sort_order|[sort_order.titleize, sort_order]}, {include_blank: false}, {class: "input"}) %>
    </div>
  </div>

  <%= render partial: "partials/form_checkbox", locals: {form: form, attr: :descending} %>

  <% if @current_user %>
    <%= render partial: "partials/form_submit", locals: {form: form, model: @task_search} %>
  <% end %>

<% end %>
