<%= form_for task_search, :url => {:action => "submit"}, :method => "POST" do |form| %>

  <%= render partial: "partials/errors", locals: {errors: task_search.errors} %>

  <%= render partial: "partials/task_search_fields", locals: {form: form, task_search: task_search} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter"></div>
    <div class="level-item-left column is-three-quarters">
      <button type="submit" name="search" class="button">
        <span class="icon is-small">
          <%= icon('fas', 'search') %>
        </span>
        <span>Search Tasks</span>
      </button>
      <% if @current_user %>
        <%= form.submit name: (task_search.new_record? ? "create" : "update"), class: "button #{task_search.new_record? ? "is-success" : "is-info"}" %>
      <% end %>
    </div>
  </div>

<% end %>
