<div class="level">
  <h1 class="title">Task Searches</h1>
  <% if @current_user %>
    <%= render partial: "partials/link_btn", locals: {href: new_task_search_path, icon: 'plus', text: 'New Task Search', css_class: 'is-success'} %>
  <% end %>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/search_form", locals: {url: tasks_path, total_count: @task_searches.total_count} %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_searches.each do |task_search| %>
      <tr>
        <td><%= task_search.title %></td>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: tasks_path(task_search_id: task_search.id), icon: 'search', text: 'Search', css_class: 'level-item is-small'} %>
            <%= render partial: "partials/link_btn", locals: {href: task_search, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <% if task_search.editable_by?(@current_user) %>
              <%= render partial: "partials/link_btn", locals: {href: edit_task_search_path(task_search), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
              <%= link_to task_search, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
                <span class="icon is-small">
                  <%= icon('fas', 'trash') %>
                </span>
                <span>Destroy</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @task_searches %>
