<%= form_with(model: task_link, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: task_link.errors} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :from_task %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:from_task_id, @task_link.from_task ? [[@task_link.from_task.text, @task_link.from_task.id]] : [], {include_blank: false}, {class: "input", "data-search": "tasks", "data-exclude-ids": "[]", "data-allow-clear": false}) %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :to_task %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:to_task_id, @task_link.to_task ? [[@task_link.to_task.text, @task_link.to_task.id]] : [], {include_blank: false}, {class: "input", "data-search": "tasks", "data-exclude-ids": "[]", "data-allow-clear": false}) %>
    </div>
  </div>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :link_type %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:link_type, TaskLink.link_types.map{|link_type|[link_type.titleize, link_type]}, {include_blank: false}, {class: "input"}) %>
    </div>
  </div>

    <%= render partial: "partials/form_submit", locals: {form: form, model: @task_link} %>
<% end %>
