<div class="level">
  <h1 class="title">Link</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: new_task_link_path, icon: 'plus', text: 'New Link', css_class: 'is-success'} %>
    <%= render partial: "partials/link_btn", locals: {href: task_links_path, icon: 'caret-left', text: 'Back', css_class: 'is-light back-btn'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<div class="level">
  <label class="level-item-left column is-one-quarter">From Task</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/task", locals: {task: @task_link.from_task} %>
  </span>
</div>
<div class="level">
  <label class="level-item-left column is-one-quarter">To Task</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/task", locals: {task: @task_link.to_task} %>
  </span>
</div>
<div class="level">
  <label class="level-item-left column is-one-quarter">Link Type</label>
  <span class="level-item-left column is-three-quaters">
    <%= @task_link.link_type.titleize %>
  </span>
</div>

<%= render partial: "partials/show_timestamp", locals: {title: "Created At", value: @task_link.created_at} %>
