<%= form_with(model: task_status, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: task_status.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :title} %>
  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :description} %>
  <%= render partial: "partials/form_img", locals: {form: form, attr: :icon, img: task_status.icon, size: 32} %>
  <%= render partial: "partials/form_checkbox", locals: {form: form, attr: :requires_action} %>
  <%= render partial: "partials/form_checkbox", locals: {form: form, attr: :default_apply} %>
  <%= render partial: "partials/form_color", locals: {form: form, attr: :color} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :next_status_ids %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select :next_status_ids, task_status.next_statuses.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": task_status.class.to_s.tableize, "data-exclude-ids": "[#{task_status.id}]"} %>
    </div>
  </div>

  <%= render partial: "partials/form_submit", locals: {form: form, model: task_status} %>

<% end %>
