<%= form_with(model: task_status, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: task_status.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :title} %>
  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :description} %>
  <%= render partial: "partials/form_img", locals: {form: form, attr: :icon, img: task_status.icon, size: 32} %>
  <%= render partial: "partials/form_checkbox", locals: {form: form, attr: :requires_action} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter"></div>
    <div class="level-item-left column is-three-quaters">
      <fieldset class="box">
        <legend>Next Task Status</legend>
        <%= form.hidden_field "next_status_ids[]", :value => "" %>
        <% TaskStatus.order(:title).where("id != ?", task_status.id).each do |status| %>
          <div class="field columns">
            <div class="column is-narrow">
              <%= form.check_box(:next_status_ids, {multiple: true, checked: task_status.next_statuses.include?(status)}, status.id, nil) %>
            </div>
            <%= form.label status.title, class: "column" %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>

  <%= render partial: "partials/form_submit", locals: {form: form, model: task_status} %>
  
<% end %>
