<p id="notice"><%= notice %></p>

<div class="level">
  <h1 class="title">Task Statuses</h1>
  <% if @current_user.admin? %>
    <%= render partial: "partials/link_btn", locals: {href: new_task_status_path, icon: 'plus', text: 'New Task Status', css_class: 'is-success'} %>
  <% end %>
</div>

<%= render partial: "partials/search_form", locals: {url: task_statuses_path} %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_statuses.each do |task_status| %>
      <tr>
        <td>
          <div class="tag" style="background:<%=task_status.color%>">
            <%= render partial: "partials/icon", locals: {img: task_status.icon, size: 32} %>
          </div>
        </td>
        <td><%= task_status.title %></td>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: task_status, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <% if @current_user.admin? %>
              <%= render partial: "partials/link_btn", locals: {href: edit_task_status_path(task_status), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
              <%= link_to task_status, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
                <span class="icon is-small">
                  <%= icon('fas', 'trash') %>
                </span>
                <span>Destroy</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @task_statuses %>
