<%= form_with(model: tag, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: tag.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :title} %>
  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :description} %>
  <%= render partial: "partials/form_upload", locals: {form: form, attr: :icon, data: tag.icon, preview_size: 48, crop_size: 128, resize: false} %>
  <%= render partial: "partials/form_checkbox", locals: {form: form, attr: :only_admin_can_apply} %>
  <%= render partial: "partials/form_checkbox", locals: {form: form, attr: :default_apply} %>
  <%= render partial: "partials/form_color", locals: {form: form, attr: :color} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :mutex_ids %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select :mutex_ids, tag.mutex.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": tag.class.to_s.tableize, "data-exclude-ids": "[#{tag.id}]"} %>
    </div>
  </div>

  <%= render partial: "partials/form_submit", locals: {form: form, model: tag} %>

<% end %>
