<div class="level">
  <h1 class="title">New Notifications</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: notifications_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= form_with(model: @notification, local: true) do |form| %>

  <%= render partial: "partials/errors", locals: {errors: @notification.errors} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :user_id %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select(:user_id, @notification.user ? [[@notification.user.username, @notification.user.id]] : [], {include_blank: false}, {class: "input", "data-search": "users", "data-allow-clear": false}) %>
    </div>
  </div>

  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :message} %>

  <%= render partial: "partials/form_submit", locals: {form: form, model: @notification} %>

<% end %>
