<div class="level">
  <h1 class="title">Activity Log</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: activity_logs_path, icon: 'caret-left', text: 'Back', css_class: 'is-light back-btn'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/show_text", locals: {title: "Timestamp", value: @activity_log.created_at} %>
<%= render partial: "partials/show_text", locals: {title: "Type", value: @activity_log.model_type} %>
<%= render partial: "partials/show_text", locals: {title: "ID", value: @activity_log.model_id} %>
<%= render partial: "partials/show_text", locals: {title: "Username", value: @activity_log.username} %>
<div class="level">
  <label class="level-item-left column is-one-quarter">Action</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/action", locals: {action: @activity_log.action} %>
  </span>
</div>
<div class="level">
  <label class="level-item-left column is-one-quarter">Updates</label>
  <pre class="level-item-left column is-three-quarters"><%= JSON.pretty_generate(@activity_log.updates) %></pre>
</div>
