<%= form_with(model: user, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: user.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :username} %>
  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :name} %>
  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :email} %>
  <%= render partial: "partials/form_upload", locals: {form: form, attr: :avatar, data: user.avatar, preview_size: 48, crop_size: 256} %>

  <% if current_user.id != @user.id %>
    <div class="field level">
      <%= form.label :admin, class: "level-item-left column is-one-quarter" %>
      <div class="level-item-left column is-three-quarters">
        <%= form.check_box :admin, :disabled => user.id == @current_user.id  %>
      </div>
    </div>

    <div class="field level">
      <%= form.label :suspended, class: "level-item-left column is-one-quarter" %>
      <div class="level-item-left column is-three-quarters">
        <%= form.check_box :suspended, :disabled => user.id == @current_user.id %>
      </div>
    </div>
  <% end %>

  <% if user == current_user %>
    <fieldset class="box">
      <legend>Update Password</legend>
      <div class="field level">
        <div class="level-item-left column is-one-quarter"></div>
        <div class="level-item-left column is-three-quarters has-text-danger">
          Warning: Changing your password will clear any defined access tokens!</p>
        </div>
      </div>
      <% if @user.password_digest.present? %>
        <%= render partial: "partials/form_password", locals: {form: form, attr: :existing_password} %>
      <% end %>
      <%= render partial: "partials/form_password", locals: {form: form, attr: :password} %>
      <%= render partial: "partials/form_password", locals: {form: form, attr: :password_confirmation} %>
    </fieldset>
  <% end %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :tag_ids %>
    </div>
    <div class="level-item-left column is-three-quarters">
      <%= form.select :tag_ids, user.tags.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "user_tags"} %>
    </div>
  </div>

  <%= render partial: "partials/form_submit", locals: {form: form, model: user} %>

<% end %>
