<%= form_with(model: user, local: true) do |form| %>

  <%= render partial: "partials/errors", locals: {errors: user.errors} %>

  <div class="level">
    <div class="level-item-left">
      <%= render partial: "partials/form_upload", locals: {form: form, attr: :avatar, data: user.avatar, preview_size: 48, crop_size: 256} %>
    </div>
    <div class="level-item-left column is-two-thirds">
      <%= render partial: "partials/form_text_field", locals: {form: form, attr: :email} %>
      <%= render partial: "partials/form_text_field", locals: {form: form, attr: :username} %>
      <%= render partial: "partials/form_text_field", locals: {form: form, attr: :name} %>

      <% if current_user.id != @user.id %>
        <div class="field level">
          <label class="level-item-left column is-one-quarter">Access Control</label>
          <div class="level-item-left column is-three-quarters">
            <label class="button">
              <%= form.check_box :admin %>
              <span>Admin</span>
            </label>
            <label class="button">
              <%= form.check_box :suspended %>
              <span>Suspended</span>
            </label>
          </div>
        </div>
      <% end %>

      <div class="field level">
        <div class="level-item-left column is-one-quarter">
          <%= form.label :locale %>
        </div>
        <div class="level-item-left column is-three-quarters">
          <%= form.select(:locale, [[I18n.t(@user.locale), @user.locale]], {include_blank: false}, {class: "input"}) %>
        </div>
      </div>

      <div class="field level">
        <div class="level-item-left column is-one-quarter">
          <%= form.label :tags %>
        </div>
        <div class="level-item-left column is-three-quarters">
          <%= form.select :tag_ids, user.tags.collect { |t| [t.title, t.id] }, {}, {class: "input", multiple: true, "data-search": "user_tags"} %>
        </div>
      </div>

    </div>
  </div>

  <% if user == current_user %>
    <fieldset class="box">
      <legend>Update Password</legend>
      <div class="field level">
        <div class="level-item-left column is-one-quarter"></div>
        <div class="level-item-left column is-three-quarters has-text-danger">
          Warning: Changing your password will clear any defined access tokens!</p>
        </div>
      </div>
      <% if @user.password_digest.present? %>
        <%= render partial: "partials/form_password", locals: {form: form, attr: :existing_password} %>
      <% end %>
      <%= render partial: "partials/form_password", locals: {form: form, attr: :password} %>
      <%= render partial: "partials/form_password", locals: {form: form, attr: :password_confirmation} %>
    </fieldset>
  <% end %>

  <%= render partial: "partials/form_submit", locals: {form: form, model: user} %>

<% end %>
