<p id="notice"><%= notice %></p>

<div class="level">
  <h1 class="title">Users</h1>
  <% if @current_user.admin? %>
    <%= link_to 'New User', new_user_path, class: "button is-primary" %>
  <% end %>
</div>

<br />

<%= form_with url: users_path, local: true, method: :get, class: "level" do |form| %>
  <div class="field level is-mobile">
    <%= form.label :search %>
    <%= form.text_field :q, :value => params[:q], class: "input" %>
  </div>
  <div class="actions">
    <%= form.submit :search, class: "button is-primary" %>
  </div>
<% end %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Email</th>
      <th>Name</th>
      <th>Username</th>
      <th>Tags</th>
      <th>Admin</th>
      <% if @current_user.admin? %>
        <th>Suspended</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.avatar.attachment %>
            <%=image_tag user.avatar.variant(resize: "50x50") %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td>
          <% user.tags.each do |tag| %>
            <div class="tag">
              <% if tag.icon.attachment %>
                <%=image_tag tag.icon.variant(resize: "30x30") %>
              <% end %>
              <%=tag.title%>
            </div>
          <% end %>
        </td>
        <td><%= user.admin %></td>
        <% if @current_user.admin? %>
          <td><%= user.suspended %></td>
        <% end %>
        <td>
          <%= link_to 'Show', user %>
          <% if @current_user.admin? || user.id == @current_user.id %>
            <%= link_to 'Edit', edit_user_path(user) %>
          <% end %>
          <% if @current_user.admin? && user.id != @current_user.id %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @users %>
