<div class="level">
  <h1 class="title">Users</h1>
  <% if @current_user.admin? %>
    <div>
      <%= render partial: "partials/link_btn", locals: {href: new_user_path, icon: 'plus', text: 'New User', css_class: 'is-success'} %>
      <%= render partial: "partials/link_btn", locals: {href: users_edit_all_path, icon: 'edit', text: 'Bulk Update', css_class: 'is-info'} %>
    </div>
  <% end %>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/search_form", locals: {url: users_path, total_count: @users.total_count} %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Username</th>
      <th>Name</th>
      <th>Tags</th>
      <th class="center">Admin</th>
      <% if @current_user.admin? %>
        <th class="center">Suspended</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= render partial: "partials/icon", locals: {img: user.avatar, size: 48} %>
        </td>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td>
          <% user.tags.each do |tag| %>
            <%= render partial: "partials/tag", locals: {tag: tag} %>
          <% end %>
        </td>
        <td class="center"><%= icon("fas is-size-5	#{user.admin ? "has-text-success" : "has-text-danger"}", user.admin ? "check-circle" : "times-circle") %></td>
        <% if @current_user.admin? %>
          <td class="center"><%= icon("fas is-size-5	#{user.suspended ? "has-text-success" : "has-text-danger"}", user.suspended ? "check-circle" : "times-circle") %></td>
        <% end %>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: user, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <% if @current_user.admin? %>
              <%= render partial: "partials/link_btn", locals: {href: edit_user_path(user), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
              <% if @current_user != user %>
                <%= link_to user, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
                  <span class="icon is-small">
                    <%= icon('fas', 'trash') %>
                  </span>
                  <span>Destroy</span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
