<% content_for :foorbar, "View User" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if @current_user.admin? || @user.id == @current_user.id %>
  <p>
    <strong>Verification code:</strong>
    <%= @user.verification_code %>
  </p>
<% end %>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Suspended:</strong>
  <%= @user.suspended %>
</p>

<p>
  <strong>Avatar</strong>
  <% if @user.avatar.attachment %>
    <%= image_tag @user.avatar.variant(resize: "50x50") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if @current_user.admin? && @user.id != @current_user.id %>
<%= link_to 'Destroy', destroy_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
