<%= render partial: "partials/notice", locals: {notice: notice} %>

<div class="level">
  <h1 class="title">User</h1>
  <div class="level-item-right">
    <% if @current_user.admin? %>
      <%= render partial: "partials/link_btn", locals: {href: new_user_path, icon: 'plus', text: 'New User', css_class: 'is-success'} %>
    <% end %>
    <% if @current_user.admin? || @user.id == @current_user.id %>
      <%= render partial: "partials/link_btn", locals: {href: edit_user_path(@user), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
    <% end %>
    <% if @current_user.admin? && @user.id != @current_user.id %>
      <%= link_to @user, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: users_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<% if current_user.admin? && @user.password_digest.blank? && (access_token = @user.active_access_tokens.first)  %>
  <div class="level">
    <label class="level-item-left column is-one-quarter">Login Link</label>
    <span class="level-item-left column is-three-quarters">
      <a href="<%= request.base_url%><%= edit_user_path(@user, :token => access_token.token) %>">
        <%= request.base_url%><%= edit_user_path(@user, :token => access_token.token) %>
      </a>
    </span>
  </div>
  <%= form_with url: user_send_welcome_email_path(@user), local: true, class: 'level' do |form| %>
    <label class="level-item-left column is-one-quarter">Welcome Email</label>
    <span class="level-item-left column is-three-quarters">
      <%= form.submit "Send Welcome Email!", class: "button is-info" %>
    </span>
  <% end %>
<% end %>

<%= render partial: "partials/show_text", locals: {title: "Username", value: @user.username} %>
<%= render partial: "partials/show_text", locals: {title: "Name", value: @user.name} %>
<%= render partial: "partials/show_text", locals: {title: "Email", value: @user.email} %>
<%= render partial: "partials/show_icon", locals: {title: "Avatar", value: @user.avatar, size: 48} %>
<%= render partial: "partials/show_boolean", locals: {title: "Admin", value: @user.admin} %>
<%= render partial: "partials/show_boolean", locals: {title: "Suspended", value: @user.suspended} %>

<div class="level">
  <label class="level-item-left column is-one-quarter">Tags</label>
  <span class="level-item-left column is-three-quarters">
    <% @user.tags.each do |tag| %>
      <div class="tag is-medium">
        <%= render partial: "partials/icon", locals: {img: tag.icon, size: 32} %>
        <span>
          <%=tag.title%>
        </span>
      </div>
    <% end %>
  </span>
</div>

<%= render partial: "partials/show_text", locals: {title: "Language", value: I18n.t(@user.locale)} %>

<%= render partial: "partials/show_timestamps", locals: {created_at: @user.created_at, updated_at: @user.updated_at} %>
