<%= form_with(model: attachment, local: true) do |form| %>
  <%= render partial: "partials/errors", locals: {errors: attachment.errors} %>

  <%= render partial: "partials/form_text_field", locals: {form: form, attr: :title} %>
  <%= render partial: "partials/form_text_area", locals: {form: form, attr: :description} %>

  <div class="field level">
    <div class="level-item-left column is-one-quarter">
      <%= form.label :task_id %>
    </div>
    <div class="level-item-left column is-three-quaters">
      <%= form.select(:task_id, attachment.task ? [[attachment.task.title, attachment.task.id]] : [], {include_blank: true}, {class: "input", "data-search": "tasks"}) %>
    </div>
  </div>

  <%= render partial: "partials/form_upload", locals: {form: form, attr: :data, data: attachment.data, preview_size: 300, crop_size: 300, resize: true} %>

  <%= render partial: "partials/form_submit", locals: {form: form, model: attachment} %>

<% end %>
