<div class="level">
  <h1 class="title">Attachment</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: new_attachment_path, icon: 'plus', text: 'New Attachment', css_class: 'is-success'} %>
    <% if @attachment.editable_by?(@current_user) %>
      <%= render partial: "partials/link_btn", locals: {href: edit_attachment_path(@attachment), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
      <%= link_to @attachment, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: attachments_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/show_text", locals: {title: "Title", value: @attachment.title} %>
<%= render partial: "partials/show_markdown", locals: {id: dom_id(@attachment), title: "Description", value: @attachment.description} %>
<div class="level">
  <label class="level-item-left column is-one-quarter">User</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/user", locals: {user: @attachment.user} %>
  </span>
</div>

<%= render partial: "partials/show_file", locals: {item: @attachment, size: 300} %>

<%= render partial: "partials/show_timestamps", locals: {created_at: @attachment.created_at, updated_at: @attachment.updated_at} %>
