<div class="level">
  <h1 class="title">Editing Access Token</h1>
  <div class="level-item-right">
    <%= link_to @access_token, class: "button is-light" do %>
      <span class="icon is-small">
        <%= icon('fas', 'eye') %>
      </span>
      <span>Show</span>
    <% end %>
    <%= link_to access_tokens_path, class: "button is-light" do %>
      <span class="icon is-small">
        <%= icon('fas', 'caret-left') %>
      </span>
      <span>Back</span>
    <% end %>
  </div>
</div>

<%= render 'form', access_token: @access_token %>
