<p id="notice"><%= notice %></p>

<div class="level">
  <h1 class="title">Access Tokens</h1>
  <%= render partial: "partials/link_btn", locals: {href: new_access_token_path, icon: 'plus', text: 'New Access Token', css_class: 'is-success'} %>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Expires At</th>
      <th>Suspended</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @access_tokens.each do |access_token| %>
      <tr>
        <td><%= access_token.title %></td>
        <td><%= access_token.expires_at %></td>
        <td>
          <%= icon("fas is-size-5	#{access_token.suspended ? "has-text-success" : "has-text-danger"}", access_token.suspended ? "check-circle" : "times-circle") %>
        </td>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: access_token, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <%= render partial: "partials/link_btn", locals: {href: edit_access_token_path(access_token), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
            <%= link_to access_token, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
              <span class="icon is-small">
                <%= icon('fas', 'trash') %>
              </span>
              <span>Destroy</span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @access_tokens %>
