<%= form_with(model: task_tag, local: true) do |form| %>
  <% if task_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_tag.errors.count, "error") %> prohibited this task_tag from being saved:</h2>

      <ul>
      <% task_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <% if task_tag.icon.attachment %>
      <%= image_tag task_tag.icon.variant(resize: "30x30") %>
    <% end %>
    <%= form.file_field :icon, direct_upload: true %>
  </div>

  <div class="field">
    <%= form.label :only_admin_can_apply %>
    <%= form.check_box :only_admin_can_apply %>
  </div>

  <div class="field">
    <%= form.label :default_apply %>
    <%= form.check_box :default_apply %>
  </div>

  <fieldset>
    <legend>Mutually Exclusive Tags</legend>
    <%= form.hidden_field "mutex_ids[]", :value => "" %>
    <% TaskTag.order(:title).where("id != ?", task_tag.id).each do |tag| %>
      <div class="field">
        <%= form.label tag.title %>
        <%= form.check_box(:mutex_ids, {multiple: true, checked: task_tag.mutex.include?(tag)}, tag.id, nil) %>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
