<%= form_with(model: task_tag, local: true) do |form| %>
  <% if task_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_tag.errors.count, "error") %> prohibited this task_tag from being saved:</h2>

      <ul>
      <% task_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <% if task_tag.icon.attachment %>
      <%= image_tag task_tag.icon.variant(resize: "30x30") %>
    <% end %>
    <%= form.file_field :icon, direct_upload: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
