
<div class="level">
  <h1 class="title">Editing Task Tag</h1>
  <div class="level-item-right">
    <%= link_to @task_tag, class: "button is-light" do %>
      <span class="icon is-small">
        <%= icon('fas', 'eye') %>
      </span>
      <span>Show</span>
    <% end %>
    <%= link_to task_tags_path, class: "button is-light" do %>
      <span class="icon is-small">
        <%= icon('fas', 'caret-left') %>
      </span>
      <span>Back</span>
    <% end %>
  </div>
</div>

<%= render partial: 'form', locals: {tag: @task_tag} %>
