<div class="level">
  <h1 class="title">Task Tag</h1>
  <div class="level-item-right">
    <% if @current_user.admin? %>
      <%= render partial: "partials/link_btn", locals: {href: new_task_tag_path, icon: 'plus', text: 'New Task Tag', css_class: 'is-success'} %>
      <%= render partial: "partials/link_btn", locals: {href: edit_task_tag_path(@task_tag), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
      <%= link_to @task_tag, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: task_tags_path, icon: 'caret-left', text: 'Back', css_class: 'is-light back-btn'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/show_tag_fields", locals: {tag: @task_tag} %>
