<div class="level">
  <h1 class="title">User Tags</h1>
  <% if @current_user.admin? %>
    <%= render partial: "partials/link_btn", locals: {href: new_user_tag_path, icon: 'plus', text: 'New User Tag', css_class: 'is-success'} %>
  <% end %>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<%= render partial: "partials/search_form", locals: {url: user_tags_path} %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tags.each do |user_tag| %>
      <tr>
        <td>
          <div class="tag is-medium" style="background:<%=user_tag.color%>">
            <%= render partial: "partials/icon", locals: {img: user_tag.icon, size: 24} %>
          </div>
        </td>
        <td><%= user_tag.title %></td>
        <td>
          <div class="level-right">
            <%= render partial: "partials/link_btn", locals: {href: user_tag, icon: 'eye', text: 'Show', css_class: 'level-item is-small'} %>
            <% if @current_user.admin? %>
              <%= render partial: "partials/link_btn", locals: {href: edit_user_tag_path(user_tag), icon: 'edit', text: 'Edit', css_class: 'level-item is-info is-small'} %>
              <%= link_to user_tag, method: :delete, class: 'level-item button is-danger is-small', data: { confirm: 'Are you sure?' } do %>
                <span class="icon is-small">
                  <%= icon('fas', 'trash') %>
                </span>
                <span>Destroy</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @user_tags %>
