<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_tag.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_tag.description %>
</p>

<p>
  <strong>Icon</strong>
  <% if @user_tag.icon.attachment %>
    <%= image_tag @user_tag.icon.variant(resize: "30x30") %>
  <% end %>
</p>

<p>
  <strong>Only Admin Can Apply:</strong>
  <%= @user_tag.only_admin_can_apply %>
</p>

<p>
  <strong>Default Apply:</strong>
  <%= @user_tag.default_apply %>
</p>

<p>
  <strong>Mutually Exclusive Tags</strong>
  <% @user_tag.mutex.each do |tag| %>
    <div class="tag">
      <% if tag.icon.attachment %>
        <%=image_tag tag.icon.variant(resize: "30x30") %>
      <% end %>
      <%=tag.title%>
    </div>
  <% end %>
</p>

<% if @current_user.admin? %>
  <%= link_to 'Edit', edit_user_tag_path(@user_tag) %> |
<% end %>
<%= link_to 'Back', user_tags_path %>
