<div id="notice"><%= notice %></div>

<div class="level">
  <h1 class="title">Task Tag</h1>
  <div class="level-item-right">
    <% if @current_user.admin? %>
      <%= render partial: "partials/link_btn", locals: {href: edit_user_tag_path(@user_tag), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
      <%= link_to @user_tag, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } do %>
        <span class="icon is-small">
          <%= icon('fas', 'trash') %>
        </span>
        <span>Destroy</span>
      <% end %>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: user_tags_path, icon: 'caret-left', text: 'Back', css_class: 'is-light'} %>
  </div>
</div>

<%= render partial: "partials/show_tag_fields", locals: {tag: @user_tag} %>
