<!DOCTYPE html>
<html class="has-background-light">
  <head>
    <title>Task Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-light">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">
        <%= link_to({controller: "tasks", action: "index"}, class: "navbar-item") do  %>
          Logo Here
        <% end %>
      </div>

      <div class="navbar-menu">

        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Menu</a>
            <div class="navbar-dropdown">
              <%=link_to "Tasks", {controller: "tasks", action: "index"}, class: "navbar-item" %>
              <%=link_to "Users", {controller: "users", action: "index"}, class: "navbar-item" %>
              <hr class="navbar-divider">
              <%=link_to "User Tags", {controller: "user_tags", action: "index"}, class: "navbar-item" %>
              <%=link_to "Task Statuses", {controller: "task_statuses", action: "index"}, class: "navbar-item" %>
              <%=link_to "Task Tags", {controller: "task_tags", action: "index"}, class: "navbar-item" %>
              <hr class="navbar-divider">
              <%=link_to "Log out", "/sessions/logout", method: "post", class: "navbar-item" %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%=link_to({controller: "users", action: "show", id: @current_user}, class: "button is-light") do  %>
                <div class="level is-mobile">
                  <%= render partial: "partials/icon", locals: {img: @current_user.avatar, size: 50} %>
                  <%= @current_user.username %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>

    </nav>

    <div class="section">
      <div class="container">
        <div class="box">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
