<!DOCTYPE html>
<html>
  <head>
    <title>Task Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%=link_to "Users", controller: "users", action: "index" %></li>
          <li><%=link_to "Task Statuses", controller: "task_statuses", action: "index" %></li>
          <li><%=link_to "Task Tags", controller: "task_tags", action: "index" %></li>
          <li><%=link_to "My Account", controller: "users", action: "show", id: @current_user %></li>
          <li><%=link_to("Log out", "/sessions/logout", method: "post") %></li>
        </ul>
      </nav>
      <div class="">Logged in as <%=@current_user.title%>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
